.left-nav-bar {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    position: fixed;
    top: 35px;
    left: 0;
    width: 200px;
    padding: 10px 0px;
}

.left-nav-bar * {
    font-size: 12pt;
}

.dashboard-logo {
    width: 20px;
    height: 20px;
}

.left-nav-bar > a > * {
    padding: 0px 5px;
}

.friends-list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: lightgray;
}

.friends-list-header > button {
    border: none;
    background: none;
}

.friends-list-header > button:hover {
    color: rgb(82, 197, 167);
}
