p, ul, div, li, a, img h1, h2, h3, h4, section {
    padding: 0;
    margin: 0;
}

.profile-dropdown {
    position: absolute;
    background-color: #fff;
    top: 100%;
    right: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 1px solid #000;
    box-shadow: 5px 5px 5px #000;
    align-items: start;
    justify-content: start;
    padding: 0;
    width: 133px;
}

.hidden {
    display: none;
}

.header-login {
    background-color:rgb(66, 202, 164);
}

.header {
    height: 35px;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    padding: 0;
}

.header img {
    height: 24px;
    width: 24px;
}

.nav-btn img {
    height: 23px;
    width: 23px;
    border-radius: 50%;
}

.logo {
    display: flex;
    align-items: center;
}

.title {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 700;
    margin-left: 15px;
    color: #000;
}

.title-login {
    color: #fff;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    height: 33px;
}

.navigation-menu {
    display: flex;
    gap:10px;
    position: relative;
}

.nav-login {
    color: rgb(66, 202, 164);
}

.nav-signup {
    color: #fff;
    background-color: rgb(66, 202, 164);
    border-radius: 4px;
}

.navigation-link {
    font-size: 15px;
    padding: 7px 9px;
}

.nav-btn {
    height: 33px;
    border: none;
    margin: 0;
    padding: 5px;
    background-color: rgb(66, 202, 164);
    box-sizing: border-box;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.nav-btn span {
    color: #fff;
    margin-left: 5px;
}

.nav-btn:hover {
    background-color: rgb(60, 188, 152) !important;
}

ul {
    list-style: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

a {
    text-decoration: none;
}

.profile-dropdown li {
    font-size: 14px;
    padding: 3px 15px;
}

.log-out {
    padding: 10px 0;
    border: none;
    width: 103px;
    text-align: left;
    display: inline-block;
}

.logout-wrapper:hover .log-out {
    background-color: #1CC29F;
    color: #fff;
}

.logout-wrapper:hover {
    background-color: #1CC29F;
    color: #fff;
}
